# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
dump/

# --------------------
# Windows Files
# --------------------
Thumbs.db

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
.project
.settings/
.*.md.html

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# vim Files
# --------------------
*.swp

# -------------------
# LARAVEL 4
# -------------------
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php

# --------------------
# user specific
# --------------------
todo.txt
